[submodule "deps/node-mysql"]
	path = deps/node-mysql
	url = http://github.com/Sannis/node-mysql-libmysqlclient.git
[submodule "deps/underscore"]
	path = deps/underscore
	url = http://github.com/documentcloud/underscore.git
[submodule "deps/nodeunit"]
	path = deps/nodeunit
	url = http://github.com/caolan/nodeunit.git
[submodule "deps/node-memcache"]
	path = deps/node-memcache
	url = http://github.com/vanillahsu/node-memcache.git
